body {
    margin: 0;
    overflow: hidden;
}

#area-shrink {
    position: absolute;
    right: 0;
    color: #FFF;
    font-size: 3em;
    padding: 0 .5em;
    display: flex;
}

#player-list {
    position: absolute;
    left: 0;
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: #FFF;
}

.player {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(255, 255, 255, .1);
    max-width: 24em;
    flex-wrap: wrap;
    padding: .5em;
}

.player > * {
    padding: .5em;
}

.blob {
    width: 2em;
    height: 2em;
}

.name {
    flex-grow: 1;
    max-width: 8em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.square {
    border-radius: 0;
}

.cirlce {
    border-radius: 50%;
}
